body {

	background: #151924;
	color: white;
	font-family: sans-serif;
	margin: 0 auto;
	
}

a {text-decoration: none}
a:link {color:#e55e5f;}      /* unvisited link */
a:visited {color:#e55e5f;}  /* visited link */
a:hover {color:#e55e5f;}  /* mouse over link */
a:active {color:#e55e5f;}  /* selected link */

.clear {
    clear: both;
}

#container {

	width: 100%;
	margin: 0 auto;
}

#left {

	float: left;
    position: relative;
	width: 24em;
    padding-left: 1em;

}


#middle {

	float: left;
    position: relative;
	width: 28%;

}

#right {

	float: right;
    position: relative;
    padding-right: 2%;
	width: 28em;

}


	
canvas {

	height: 28em;
	
}



#key {
    padding: 0.5em;
    margin: 0.1em;
    background: #FFFFCC;
    border-radius: 0.4em;
    width: 1.5em;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    display: inline-block;

}

#row {
    text-align: center;      
    color: #151924;
 
}

#b_wrapper {

	margin: 0 auto;

}

#in {
    
    padding: 0.4em;
    margin: 0.5em;
    background: #FFFFCC;
    border-radius: 0.4em;
    border: 0.1em solid black;
    width: 3em;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    display: inline-block;    
    
}

#widget {

	!text-align: right;
	
}
​
/*http://dominoc925.blogspot.com.au/2011/10/how-to-align-facebook-like-button-with.html*/
#sidebar #social {
    margin: 10px;
}    
div .plusone, .twitter, .fb-like {
    font-size: 1px;
    display: inline-block;
}
div .fb_reset {
    display: inline;
} 